body{
    font-family:"Comic Sans Ms", fantasy;
color: #003366;
text-align:center;
background-color: LightSteelBlue;
 }
h1{ 
    margin-top: -200px;
    font-size:70px;
    text-align:center;
    color:maroon;
}
 
a{
    color:yellow;
    background-color: navy;
    font-size: 50px;
    display:block;
    width:250px;

    
}